* {
	margin: 0;
	padding: 0
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.cz {
	width:100%;
	height:38px;
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #09101c), color-stop(0.5, #09101d), color-stop(0.51, #222c3d), color-stop(1, #5a6171));
	background-image:-webkit-gradient(linear, left bottom, left top, from(#a8acb8), to(#f4f5f7));
}
.cz input {
	height:24px;
	padding:0 5px;
	border:1px solid #80868F;
	border-radius:4px;
	-moz-border-radius:3px;
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #edeff3), color-stop(0.5, #edeff3), color-stop(0.51, #ffffff), color-stop(1, #ffffff));
	color:#333;
	margin-top:8px;
	margin-left:10px;
	cursor:pointer;
	font-family:"Microsoft yahei", "Lucida Sans Unicode", "Lucida Grande",sans-serif;
	font-size:12px;
	box-shadow:0px 1px 1px #646e79
}
.cz input:hover {
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #1e4ee1), color-stop(0.5, #1e4ee1), color-stop(0.51, #416ae5), color-stop(1, #7c98ed));
	color:#eee;
	text-shadow:2px 2px 2px #838896
}

.clear {
	clear: both;
	line-height: 0;
	height: 0;
	overflow: hidden
}

.addBut {
	height:24px;
	padding:0 15px;
	border:1px solid #b6b6b6;
	border-radius:3px;
	-moz-border-radius:3px;
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.5, #ccc), color-stop(0.51, #ddd), color-stop(1, #ddd));
	color:#333;
	margin-left:10px;
	cursor:pointer;
	
	font-family:"Microsoft yahei", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	float:right;
	margin:0 27px 10px 0
}
.addBut:hover {
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #1e4ee1), color-stop(0.5, #1e4ee1), color-stop(0.51, #416ae5), color-stop(1, #7c98ed));
	color:#eee;
}

.addButs {
	height: 24px;
	padding: 0 15px;
	border: 1px solid #b6b6b6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc),
		color-stop(0.5, #ccc), color-stop(0.51, #ddd), color-stop(1, #ddd) );
	color: #333;
	margin-left: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 1px #ccc;
	font-family: "Microsoft yahei", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 12px;
}

.addButt {
	height: 24px;
	padding: 0 15px;
	border: 1px solid #b6b6b6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc),
		color-stop(0.5, #ccc), color-stop(0.51, #ddd), color-stop(1, #ddd) );
	color: #333;
	margin-left: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 1px #ccc;
	font-family: "Microsoft yahei", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 12px;
	float: right;
	margin-right: 126px;
	margin-bottom: 10px
}
.addButs:hover {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1e4ee1),
		color-stop(0.5, #1e4ee1), color-stop(0.51, #416ae5),
		color-stop(1, #7c98ed) );
	color: #eee;
}

/***********IndexComponent---start********************/
.location {
	width:980px;
	height:auto;
	overflow:hidden;
	border:1px solid #000;
	margin:10px auto;
	font-size:12px;
	font-family:"Microsoft yahei", "Lucida Sans Unicode", "Lucida Grande",sans-serif;
	border-radius:5px;
	background:#0b1018
}

.location .locationBar {
	width:100%;
	height:30px;
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #09101c), color-stop(0.5, #09101d), color-stop(0.51, #222c3d), color-stop(1, #5a6171));
	line-height:30px;
	color:#eee
}

.location .locationBar span {
	padding:0 10px;
	cursor:pointer;
	display:block;
	float:left;
	height:30px;
	color:#eee;
	font-weight:bold
}

.location .locationMenu {
	background:#fff;
	width:970px;
	height:auto;
	overflow:hidden;
	margin:0 auto 10px auto;
	border-radius:5px
}

.location .locationMenu .lctMenu {
	width:160px;
	height:80px;
	border:1px solid #131e3b;
	border-radius:5px;
	float:left;
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	line-height:80px;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	color:#eee;
	box-shadow:1px 1px 1px #ccc;
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #232f4e), color-stop(0.5, #162344), color-stop(0.51, #343f5c), color-stop(1, #757d90));
	text-shadow:1px 1px 1px #000
}

.locationMenuLt {
	width:242px;
	float:left;
	height:auto;
	overflow:hidden
}

.locationMenuRt {
	width:700px;
	float:left;
	height:auto;
	overflow:hidden
}

/***********IndexComponent---end********************/
	/***********UserComponent---start********************/
.operateUsers {
	width:698px;
	height:auto;
	overflow:hidden;
	border-radius:5px;
	-moz-border-radius:5px;
	margin:20px auto;
	border:1px solid #80868f;
	
	font-family:"Microsoft yahei", "Lucida Sans Unicode", "Lucida Grande",sans-serif;
	font-size:12px;
	line-height:24px;
	background:#fff;
	color:#333;
	display: none;
}

.groupTit {
	height:30px;
	line-height:30px;
	text-align:center;
	background-image:-webkit-gradient(linear, left bottom, left top, from(#a8acb8), to(#f4f5f7));
	color:#717880;
	font-weight:bold;
	border-bottom:1px solid #80868f;
	text-shadow:1px 1px 1px #eee;
}

.operateUsers .userAddDiv {
	width:280px;
	margin:10px auto;
	height:auto;
	overflow:auto;
	margin-top:13px
}

.operateUsers .userAddDiv div {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 10px
}

.subbut {
	width:300px;
	margin:0 auto
}

.operateUsers .userAddDiv span.userAddSpan {
	width:80px;
	text-align:right;
	display:block;
	float:left;
}

.operateUsers .userAddDiv input {
	width:180px;
	float:left;
	height:18px
}

.operateUsers .userAddDiv input.addGroupToUser {
	width: 90px;
	float: left;
	height: 20px
}

.operateUsers .userAddDiv .addUserGroupList {
	width: 180px;
	float: left;
}

.operateUser {
	width:698px;
	height:auto;
	overflow:hidden;
	border-radius:5px;
	-moz-border-radius:5px;
	margin:20px auto;
	border:1px solid #80868f;
	font-family:"Microsoft yahei", "Lucida Sans Unicode", "Lucida Grande",sans-serif;
	font-size:12px;
	line-height:24px;
	
}

.operateUser .userList {
	width:698px;
	height:auto;
	overflow:auto;
	border-bottom:1px solid #e6e7eb;
	background:#e5e7eb;
}

.operateUser .userTitle {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

.operateUser .userTitle span {
	display: block;
	float: left
}

.operateUser .userContect span {
	display: block;
	float: left
}

.operateUser .userNameSpan {
	float: left;
	width: 20%;
	text-indent:10px
}

.operateUser .userSpanClass {
	float: left;
	width: 20%;
}

.operateUser .operate {
	float: left;
	width: 20%;
	text-align: center
}

.operateUser .delUser {
	cursor: pointer;
}

.operateUser .userContent>div {
	width:100%;
	border-top:1px solid #edeff1;
	border-bottom:1px solid #d7d9db;
	height:28px;
	line-height:28px
}

.operateUser .updateExistUser {
	cursor: pointer;
}

.operateUser .delUser {
	cursor: pointer;
}

/***********UserComponent---end********************/
	/***********GroupComponent---start********************/
.operateGroups {
	width: 500px;
	height: auto;
	overflow: hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 20px auto;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #ccc;
	font-family: "Microsoft yahei", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #333;
}

.operateGroups .groupAddDiv {
	width: 280px;
	margin: 10px auto;
	height: auto;
	overflow: auto;
	margin-top: 13px
}

.operateGroups .groupAddDiv span.groupAddSpan {
	width: 80px;
	text-align: right;
	display: block;
	float: left;
}

.operateGroups .groupAddDiv input {
	width: 180px;
	float: left;
	height: 18px
}

.operateGroup {
	width:500px;
	height:auto;
	overflow:hidden;
	border-radius:5px;
	-moz-border-radius:5px;
	margin:20px auto;
	border:1px solid #80868f;
	font-family:"Microsoft yahei", "Lucida Sans Unicode", "Lucida Grande",sans-serif;
	font-size:12px;
	line-height:24px;
	
}

.operateGroup .groupList {
	width:500px;
	height:auto;
	overflow:auto;
	border-bottom:1px solid #e6e7eb;
	background:#e5e7eb;
}

.operateGroup .groupTitle {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

.operateGroup .groupNameSpan {
	text-indent:10px;
	float: left;
	width: 70%;
	display: block;
}

.operateGroup .operate {
	display: block;
	float: left;
	width: 30%;
	text-align: center
}

.operateGroup .groupContent>div {
	width: 100%;
	border-bottom: 1px solid #d3d5d9;
	border-top: 1px solid #e6e7eb
}

.operateGroup .delGroup {
	cursor: pointer;
}

/***********GroupComponent---end********************/
	/***********GroupDialogPrompt---start********************/
.operateGroupPrompt {
	width:500px;
	height:auto;
	overflow:hidden;
	border-radius:5px;
	-moz-border-radius:5px;
	margin:20px auto;
	border:1px solid #80868f;
	font-family:"Microsoft yahei", "Lucida Sans Unicode", "Lucida Grande",sans-serif;
	font-size:12px;
	line-height:24px;
	
	position: absolute;
	top: 70px;
	left: 40%;
}

.operateGroupPrompt .groupPromptList {
	width:500px;
	height:auto;
	overflow:auto;
	border-bottom:1px solid #e6e7eb;
	background:#e5e7eb;
}

.operateGroupPrompt .groupPromtTitle {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

.operateGroupPrompt .groupPromtName {
	text-indent:10px;
	float: left;
	width: 70%;
}

.operateGroupPrompt .operate {
	float: left;
	width: 30%;
	text-align: center
}

.operateGroupPrompt .groupPromtContent>div {
	width: 100%;
	border-bottom: 1px solid #d3d5d9;
	border-top: 1px solid #e6e7eb
}

/***********GroupDialogPrompt---end********************/
.usergroup {
	width:240px;
	height:auto;
	overflow:hidden;
	background:#e5e7eb;
	border:1px solid #80868f;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	margin-top:20px;
	border-left:none;
	margin-bottom:10px
}

.usergroup .usergroupTit {
	height:30px;
	line-height:30px;
	text-align:center;
	background-image:-webkit-gradient(linear, left bottom, left top, from(#a8acb8), to(#f4f5f7));
	color:#717880;
	font-weight:bold;
	border-bottom:1px solid #80868f;
	text-shadow:1px 1px 1px #eee;
}

.usergroup li {
	line-height:28px;
	height:28px;
	color:#040404;
	border-top:1px solid #edeff1;
	border-bottom:1px solid #d7d9db;
	text-indent:10px;
	cursor:pointer
}

.usergroup ul {
	margin-bottom: 10px
}

.usergroup li:after {
	content: ">";
	display: block;
	float: right;
	margin-right: 10px;
}