* {
	margin: 0;
	padding: 0
}

.userList {
	width: 98%;
	height: auto;
	margin: 5px auto;
	margin-bottom: 10px;
	overflow: auto;
}

.userContect>div {
	width: 100%;
	border-bottom: 1px dashed #ccc
}

.cz input {
	height: 24px;
	padding: 0 5px;
	border: 1px solid #b6b6b6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc),
		color-stop(0.5, #ccc), color-stop(0.51, #ddd), color-stop(1, #ddd) );
	color: #333;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 1px #ccc;
	font-size: 12px
}

.cz input:hover {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b9b9b9),
		color-stop(0.5, #ccc), color-stop(0.51, #ccc), color-stop(1, #b9b9b9)
		);
}

.userTitle span,.userContect span {
	display: block;
	float: left
}

.userNmae,.userClass {
	width: 30%
}

.operate {
	width: 10%
}

.clear {
	clear: both;
	line-height: 0;
	height: 0;
	overflow: hidden
}

.userTitle {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

.userContect a {
	color: #333
}

.operateUser,.operateUsers {
	width: 700px;
	height: auto;
	overflow: hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 20px auto;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #ccc;
	font-size: 12px;
	line-height: 24px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#f8f8f8) );
	color: #333
}

.operateUsers {
	width: 300px
}

.addName {
	width: 280px;
	margin: 10px auto;
	height: auto;
	overflow: auto;
	margin-top: 13px
}

.addName span.spName {
	width: 80px;
	text-align: right;
	display: block;
	float: left;
}

.addName input {
	width: 180px;
	float: left;
	height: 18px
}

.addBut {
	height: 24px;
	padding: 0 15px;
	border: 1px solid #b6b6b6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc),
		color-stop(0.5, #ccc), color-stop(0.51, #ddd), color-stop(1, #ddd) );
	color: #333;
	margin-left: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 1px #ccc;
	font-size: 12px;
	float: right;
	margin: 0 27px 10px 0
}

.location {
	width: 98%;
	height: auto;
	overflow: hidden;
	border: 1px solid #999;
	margin: 10px auto;
	font-size: 12px;
	border-radius: 3px
}

.locationAdd {
	width: 100%;
	height: 30px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd),
		to(#c4c4c4) );
	border-bottom: 1px solid #a2a2a2;
	line-height: 30px
}

.lctMenu {
	width: 160px;
	height: 80px;
	border: 1px solid #aaa;
	border-radius: 5px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#dedede) );
	text-align: center;
	line-height: 80px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: #5b8aac;
	box-shadow: 1px 1px 1px #ccc;
}

.locationAdd span {
	padding: 0 10px;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	color: #444;
	font-weight: bold
}

input.addGroupToUser {
	padding: 0 5px;
	border: 1px solid #b6b6b6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc),
		color-stop(0.5, #ccc), color-stop(0.51, #ddd), color-stop(1, #ddd) );
	color: #333;
	cursor: pointer;
	box-shadow: 2px 2px 1px #ccc;
	font-size: 12px;
	width: 90px;
}

.groupPrompt {
	position: absolute;
	top: 50px;
	left: 20%;
}