<script type="text/javascript">
	brite.registerComponent("GroupComponent",
		{
			parent: "#locationMenu"
		},
		{
			create: function(data){				
				var json = {};
				json.groups = data;
				var $e = $($("#tmplGroupContent").render(json));
				return $e;
			},
			postDisplay:function(data,config){
				// --- Create Group --- //
				this.$element.delegate(".updateGroup","click",function(){
					var groupJson = {};
					groupJson.name=$('#groupNameInput').val();
					brite.dm.create("Groups",groupJson);
				});
				// --- delete Group --- //
				this.$element.delegate(".delGroup","click",function(){
					var objRef = $(this).bObjRef("Groups");
					if (objRef){
						brite.dm.remove("Groups",{id:objRef.id}).done(function(){
							brite.dm.remove("GroupUser",{group_id:objRef.id});
						});
					}
				});	
			}
		});

</script>
<script id="tmplGroupContent" type="text/html">
<div class="operateUsers">
  <div class="addName"> 
    <span class="spName">GroupName:</span>
    <input id='groupNameInput' type="text">
    <br> 
  </div>
  <input type="button" value="AddGroup" class="addBut updateGroup">
</div>

<div class="operateUser">
  <div class="userList">
    <div class="userTitle"> 
      <span class="userNmae">Name</span>
      <span class="operate">&nbsp;</span>
      <div class="clear"></div>
    </div>
    <div class="userContect">
	 {{each groups}}
      <div data-obj_type="Groups" data-obj_id="${id}" >
		<span class="userNmae">${name}</span>
		<span class="operate"><span class='delGroup'>X</span></span>
        <div class="clear"></div>
      </div>
	{{/each}}
    </div>
  </div>
</div>

</script>
