<script type="text/javascript">
	brite.registerComponent("GroupComponent",
		{
			parent: "#locationMenuRt"
		},
		{
			create: function(data){				
				var json = {};
				json.groups = data;
				var $e = $($("#tmplGroupContent").render(json));
				return $e;
			},
			postDisplay:function(data,config){
				// --- Create Group --- //
				this.$element.delegate(".addOrUpdateGroup","click",function(){
					var groupJson = {};
					groupJson.name=$('#groupNameInput').val();
					brite.dm.create("Groups",groupJson);
				});
				// --- delete Group --- //
				this.$element.delegate(".delGroup","click",function(){
					var objRef = $(this).bObjRef("Groups");
					if (objRef){
						brite.dm.remove("Groups",{id:objRef.id}).done(function(){
							brite.dm.remove("GroupUser",{group_id:objRef.id});
						});
					}
				});	
			}
		});

</script>
<script id="tmplGroupContent" type="text/html">
<div class="operateGroups">
  <div class="groupTit"></div>
  <div class="groupAddDiv"> 
    <span class="groupAddSpan">GroupName:</span>
    <input id='groupNameInput' type="text">
    <br> 
  </div>
  <div class="subbut">
      <input type="button" value="Add" class="addBut addOrUpdateGroup">
  </div>
</div>

<div class="operateGroup">
  <div class="cz">
  </div>
  <div class="groupList">
    <div class="groupTitle"> 
      <span class="groupNameSpan">Name</span>
      <span class="operate">&nbsp;</span>
      <div class="clear"></div>
    </div>
    <div class="groupContent">
	 {{each groups}}
      <div data-obj_type="Groups" data-obj_id="${id}" >
		<span class="groupNameSpan">${name}</span>
		<span class="operate"><span class='delGroup'>X</span></span>
        <div class="clear"></div>
      </div>
	{{/each}}
    </div>
  </div>
</div>

</script>
