<script type="text/javascript">
    
	brite.registerComponent("UserComponent",
		{
			parent: "#locationMenuRt",
			emptyParent:true
		},
		{
			create: function(data){
				var json = {userLlist:[]};
				json.userLlist = data;
				var $e = $($("#tmplUserContent").render(json));
				return $e;
			},
			postDisplay:function(data,config){
                    var $e = this.$element;
                    for(var u in data ) {
                    	getUserAndGroups(data[u]).done(function(user){
            				var $tr = $("#tmplUserContent-tr").render(user);
            				$e.find(".userContent").append($tr);
                        });
                    }
			    
				    this.$element.find(".addUserGroupList").data("groupids",[]);
				    
					// --- Create User --- //
					this.$element.find('.updateUser').click(function(){
						var userJson = {};
						userJson.name=$('#nameInput').val();
						userJson.email=$('#emailInput').val();
						userJson.pno=$('#phoneNumberInput').val();
						var userid=$('#useridInput').val();
						var groupids = $(".addUserGroupList").data("groupids");
						var len = groupids.length;
						var createcount = 0;
						if(userid==""){
							brite.dm.create("Users",userJson).done(function(uid){
								brite.dm.remove("GroupUser",{user_id:uid}).done(function(){
									if(len==0){
										refreshUserListDiv();
									}else{
										for(var k in groupids){
											brite.dm.create("GroupUser",{group_id:groupids[k],user_id:uid}).done(function(){
												createcount++;if(len==createcount)refreshUserListDiv();
											});
										}		
									}
								});
							});
						}else{
							brite.dm.update("Users",userid,userJson).done(function(uid){
								brite.dm.remove("GroupUser",{user_id:uid}).done(function(){
									if(len==0){
										refreshUserListDiv();
									}else{
										for(var k in groupids){
											brite.dm.create("GroupUser",{group_id:groupids[k],user_id:uid}).done(function(){
												createcount++;if(len==createcount)refreshUserListDiv();
											});
										}		
									}		
								});
							});
						}
					});		
								
					this.$element.delegate(".addGroupToUser","click",function(){
							var groupids = $(".addUserGroupList").data("groupids");
							brite.dm.list("Groups").done(function(groupList){
								for(var k in groupList){									
									if(isInGroupArray(groupids,groupList[k])){
										groupList[k].chkflg='checked';
									}									
								}
								var dfd = brite.display('GroupDialogPrompt', groupList);						
								dfd.done(function(dialog){
									dialog.onAnswer(function(result){
                                       if(result!=null){
                                           var gids = [];
                                           var groupnames="";
                                           for(var k in result){
                                        	   gids.push(result[k].id);
                                        	   groupnames += (groupnames==""?result[k].name:","+result[k].name);
                                           }
                                           $(".addUserGroupList").html(groupnames);
                                           $(".addUserGroupList").data("groupids",gids);
                                       }
									});
								});	
							});
	                });	
					// --- delete User --- //
					this.$element.delegate(".delUser","click",function(){
						var objRef = $(this).bObjRef("Users");
						if (objRef){
							brite.dm.remove("Users",{id:objRef.id}).done(function(){refreshUserListDiv();});
						}
					});
					
					this.$element.delegate(".addNewUser","click",function(){
						$(".updateUser").val("Add");
						$('#useridInput').val("");
						$('#nameInput').val("");
						$('#emailInput').val("");
						$('#phoneNumberInput').val("");
                        $(".addUserGroupList").html("");
                        $(".addUserGroupList").data("groupids",[]);
                        $(".operateUsers").show();
					});		
								
					this.$element.delegate(".userCancle","click",function(){
						$(".updateUser").val("Add");
						$('#useridInput').val("");
						$('#nameInput').val("");
						$('#emailInput').val("");
						$('#phoneNumberInput').val("");
                        $(".addUserGroupList").html("");
                        $(".addUserGroupList").data("groupids",[]);
                        $(".operateUsers").hide();
					});					
					
					this.$element.delegate(".updateExistUser","click",function(){
						var objRef = $(this).bObjRef("Users");
						if (objRef){
							brite.dm.get("Users",objRef.id).done(function(user){
								brite.dm.list("GroupUser",{matchs:{user_id:objRef.id}}).done(function(userGroupList){
									brite.dm.list("Groups").done(function(groupList){
										var gids = [];
										var gnames = "";
										for(var k in groupList){											
											if(isInGroupList(userGroupList,groupList[k])){
												gids.push(groupList[k].id);
												gnames+= gnames==""?groupList[k].name:","+groupList[k].name;
											}											
										}
										$(".operateUsers").show();
										$(".updateUser").val("Update");
										$('#useridInput').val(user.id);
										$('#nameInput').val(user.name);
										$('#emailInput').val(user.email);
										$('#phoneNumberInput').val(user.pno);
                                        $(".addUserGroupList").html(gnames);
                                        $(".addUserGroupList").data("groupids",gids);
									});
								});    
							});
						}
					});

					this.$element.delegate(".syndata-from-google","click",function(){
						synGoogledataToSQLite();
					});
					
			}
		});
		
</script>
<script id="tmplUserContent" type="text/html">
<div class="operateUsers">
     <div class="groupTit"></div>
     <div class="userAddDiv"> 
		    <span class="userAddSpan">Name:&nbsp;</span>
    		<input id='nameInput' type="text">
    		<input id='useridInput' value="" type="hidden">
            <br>
    		<span class="userAddSpan">Email:&nbsp;</span>
    		<input id='emailInput' type="text">
            <br>
   			<span class="userAddSpan">PhoneNumber:&nbsp;</span>
    		<input id='phoneNumberInput' type="text">
          	<br>
   			<span class="userAddSpan">Groups:&nbsp;</span>
    		<input value='Add Group' type='button' class='addButs addGroupToUser'/>
          	<br>
    		<span class="userAddSpan">&nbsp;</span>
    		<div class='addUserGroupList'></div> 
     </div>
     <div class="subbut">
  		 <input type="button" value="Add" class="addBut updateUser">
 		 <input type="button" value="Cancle" class="addBut userCancle">
     </div>
</div>

<div class="operateUser">
  <div class="cz">
  	<input type="button" class="addNewUser" value="addNewUser">
  	<input type="button" class="syndata-from-google" value="Synch Data">
  </div>
  <div class="userList">
    <div class="userTitle"> 
      <span class="userNameSpan">Name</span>
      <span class="userSpanClass">Email</span>
      <span class="userSpanClass">PhoneNumber</span>
      <span class="userSpanClass">Groups</span>
      <span class="operate">&nbsp;</span>
      <div class="clear"></div>
    </div>
    <div class="userContent">
    </div>
  </div>
</div>
</script>

<script id="tmplUserContent-tr" type="text/html">
      <div data-obj_type="Users" data-obj_id="${id}" >
		<span class="userNameSpan">${name}</span>
		<span class="userSpanClass">{{if email}}${email}{{else}}&nbsp;{{/if}}</span>
		<span class="userSpanClass">{{if pno}}${pno}{{else}}&nbsp;{{/if}}</span>
		<span class="userSpanClass">{{if groups}}${groups}{{else}}&nbsp;{{/if}}</span>
		<span class="operate">
			<span class='delUser'>X</span>
			<span>&nbsp;</span>
			<span class='updateExistUser'>update</span>
		</span>
        <div class="clear"></div>
      </div>
</script>

